* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 14px;
}

.page {
  width: 90%;
  margin: auto;
}

header {
  background-color: #abded7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
img {
  width: 50px;
}
.profile_photo {
  width: 400px;
}

p {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: #4d8581;
}
a:hover {
  color: brown;
}

a:visited {
  color: #abded7;
}

.about {
  width: 80%;
  font-size: 16px;
}

.profile_photo {
  border: 20px solid white;
  margin: 30px 0;
}

h1 {
  font-size: 4rem;
}
header p {
  font-size: 2rem;
  margin-top: 40px;
}
h2 {
  margin-bottom: 20px;
}

.content {
  background-color: #eee7df;
  padding: 50px 0 50px 40px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, auto);
  grid-gap: 50px;
}
h3 {
  font-style: italic;
}

footer {
  height: 150px;
  background-color: #abded7;
}

footer h2 {
  text-align: center;
  padding-top: 20px;
}

.contact {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
